body {
  background: #30336b;
}

.container {
  font-family: "Roboto", Times, serif;
  color: #fff;
  text-shadow: 2px 2px 2px gray;
}

.center {
  position: absolute;
  z-index: 999;
  width: 50%;
  left: 25%;
  top: 25%;
  height: 60%;
  background: rgba(116, 114, 114, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.center .title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
}

.form {
  display: none;
}

.greetings {
  display: none;
  margin-bottom: 30px;
  font-size: 40px;
}
.greetings h4 {
  text-align: center;
}

.showing {
  display: block;
}

.input {
  color: #fff;
  margin-bottom: 10px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgba(53, 53, 53, 0.34);
  font-size: 20px;
}
.input:focus {
  outline: none;
}

.ul--todo-list {
  overflow: hidden scroll;
  height: 45%;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ul--todo-list li {
  margin-bottom: 10px;
}
.ul--todo-list li button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.div--weather {
  float: right;
  font-size: 20px;
  margin: 10px;
  font-style: italic;
}
