body {
  background: #30336b;
}

.body {
}

.container {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  text-shadow: 2px 2px 2px gray;
}

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.title {
  transition: color 0.5s ease-in-out;
  font-weight: 600;
}

.form {
  display: none;
}

.greetings {
  display: none;
  margin-bottom: 30px;
  font-size: 40px;
}

.showing {
  display: block;
}

.form--todo input {
  margin-bottom: 10px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(53, 53, 53);
  font-size: 20px;
}
.form--todo input:focus {
  outline: none;
}

.ul--todo-list li {
  margin-bottom: 10px;
}
.ul--todo-list li button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
